* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9fbfc;
}

@font-face 
{
  font-family: 'Awal';
  src: url('img/font/AwalRamadhan-eZ2WB.ttf');
  src: url('img/font/AwalRamadhan-0WlyX.otf');
}

.first-color { 
	background: #f9fbfc; 
}
	
.second-color { 
	background: #a0dbdb; 
}

.third-color { 
	background: #56a7a7; 
}

.fourth-color { 
	background: #fcea90; 
}

/*Navbar*/

header {
  background: #56a7a7;
  height: 5em;
  padding: 0 2em;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-nav {
  line-height: 3.5em;
  font-size: 1.5em;
  font-family: 'awal';
}

.nav-list{
  display: flex;
  flex-direction: row;
  gap: 1em;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  line-height: 5em;
}
/*Navbar End*/

/*Image*/
.main-img {
  height: auto;
  margin: 0 auto;
  background-color: #a0dbdb;
}
.img-text {
  margin: auto;
  height: auto;
  width: 70%;
  background-color: #a0dbdb;
  padding: 20px ;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: left;
}

.main-img img {
  float: right;
  width: 50%;
  height: auto;
}

.main-img p {
  text-align: justify;
}
/*End Image*/

/*Batas Main-Image - Kategori*/
.batas1 {
  width: auto;
  height: 10em;
  margin: -20px auto 0;
  background-color: #56a7a7;
}

.batas1 h1 {
  text-align: center;
  line-height: 25vh;
  font-size: 4em;
  font-family: 'awal';
}
/*End Batas Main-Image - Kategori*/

/*List Kategori Ebook*/
.list-kategori-ebook {
  margin: auto;
  width: 70%;
  height: auto;
}

.list-kategori-ebook .list {
  margin: 20px 0;
  background-color: #a0dbdb;
  border-radius: 20px;
  padding: 10px;
}

.list-kategori-ebook a {
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;

}

.list-kategori-ebook h3 {
  text-align: center;
}

.list:hover {
  background-color: #56a7a7;
}

.list a:hover {
  color: #afb2b6;
}

.list-kategori-ebook p {
  text-align: justify;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: 'Times New Roman', Times, serif;
}
/*End List Kategori Ebook*/

/*List Buku*/
.buku {
  width: 50%;
  height: auto;
  margin: auto;
}
 
.buku-list {
  margin: auto;
  height: auto;
  background-color: #a0dbdb;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;
  text-align: left;
}

.buku-list button {
  background-color: #4e789c;
  border: 1px;
  border-radius:10px ;
  height: 30px;
  width: 50px;
  margin-top: 10px;
}

.buku-list button:hover {
  background-color: #56a7a7;
  transition: 500ms;
  text-decoration: underline;
  border: #000 solid 2px;
}

.buku-list img {
  float: left;
  margin-right: 20px;
}

.buku-list a {
  text-align: justify;
  text-decoration: none;
  color: #000;
}
/*End List Buku*/

/*Nomor Halaman*/
.nomor-halaman {
  height: 50px;
  text-align: center;
  padding-bottom: 10px;
}

.nomor-halaman ul li {
  display: inline;
  color: #000;
  border-radius: 50%;
  padding: 2% 2.5%;
  margin-left: 5px;
  justify-content: center;
}

.nomor-halaman ul li button a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.nomor-halaman ul li button {
  background-color: #a0dbdb;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
}

.nomor-halaman ul li button:hover {
  background-color: #56a7a7;
  transition: 0.3s;
}
/*End Nomor Halaman*/

/*Footer*/
footer {
  background: #56a7a7;   
  height: fit-content;
}

footer hr {
  color: #000000;
  background-color: #000000;
  margin: 0;
  height: 1px;
}

.footer-logo h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Awal';
  padding-top: 20px;
}

.footer-logo h1 a {
  text-decoration: none;
  color: #000;
}

.footer-logo p {
  text-align: center;
  color: #000000;
  font-size: 20px;
  font-family: 'Tahoma', Verdana, sans-serif;
  text-transform: capitalize;
  padding: 20px 0;
}

.footer-media p {
  color: #000000;
  text-transform: capitalize;
  font-size: 20px;
  font-family: 'Tahoma', Verdana, sans-serif;
  text-transform: capitalize;
  padding-top: 20px;
  text-align: center;
}

.footer-img {
  height: auto;
  width: fit-content;
  margin: auto;
  padding-top: 20px;
}

.footer-img img:hover {
  background-color: #f9fbfc;
  border-radius: 55%;
}

.footer-img img {
  width: 50px;
}

.contact-us {
  height: auto;
  width: fit-content;
  margin: auto;
  padding-top: 20px;
}

.contact-logo {
  padding-top: 1em;
}

.contact-us img:hover {
  background-color: #f9fbfc;
  border-radius: 55%;
}

.contact-us img {
  width: 50px;
}
/*End Footer*/