* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9fbfc;
}

@font-face 
{
  font-family: 'Awal';
  src: url('img/font/AwalRamadhan-eZ2WB.ttf');
  src: url('img/font/AwalRamadhan-0WlyX.otf');
}

@font-face {
  font-family: 'arab';
  src: url(img/font/tradbdo.ttf);
}

/*Navbar*/
.navbar1 {
  background-color: #926236;
}

.navbar1 h1 {
  font-family: 'awal';
}

.navbar-nav .nav-link {
  font-size: 1.2em;
  font-family: 'Times New Roman', Times, serif;
  transition: 1s;
}

.navbar-nav .nav-link:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
/*Navbar End*/

/*Image*/
#gambar {
  width: auto;
  height: 75vh;
  background-image: url(img/books.jpg);
  background-size: cover;
}

.gambarTeks {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:#ffffffad;
}

/*End Image*/

/*Batas Main-Image - Kategori*/
.batas1 {
  width: auto;
  height: auto;
  background-color: #926236;
}

.batas1 h1 {
  text-align: center;
  font-size: 4em;
  font-family: 'awal';
}
/*End Batas Main-Image - Kategori*/

/*List Kategori Ebook*/
.title {
  background-color: #926236;
  font-family: 'awal';
  border-radius: 50px;
}

.list-kategori {
  background-color: #be8250;
  border-radius: 50px;
  transition: 0.3s;
}

.list-kategori:hover {
  background-color: #926236;
  cursor: pointer;

}
/*End List Kategori Ebook*/

/*List Buku*/
.buku {
  width: 100%;
  padding-top: 30px;
  height: auto;
  margin: auto;
}
 
.buku-list {
  width: 50%;
  margin: auto;
  height: auto;
  background-color: #be8250;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: left;
}

.buku-list a:hover {
  color: #000;
}

.buku-list button {
  background-color: #926236;
  border: 1px;
  border-radius:10px ;
  height: 30px;
  width: 50px;
  margin-top: 10px;
}

.buku-list button:hover {
  background-color: #fff;
  transition: 500ms;
  text-decoration: underline;
  border: #000 solid 2px;
}

.buku-list img {
  float: left;
  margin-right: 20px;
}

.buku-list a {
  text-align: justify;
  text-decoration: none;
  color: #000;
}
/*End List Buku*/

/*Nomor Halaman*/
.nomor-halaman {
  height: 50px;
  text-align: center;
  padding-bottom: 10px;
}

.nomor-halaman ul li {
  display: inline;
  color: #000;
  border-radius: 50%;
  padding: 2% 2.5%;
  margin-left: 5px;
  justify-content: center;
}

.nomor-halaman ul li button a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.nomor-halaman ul li button {
  background-color: #926236;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
}

.nomor-halaman ul li button:hover {
  background-color: #fff;
  transition: 0.3s;
}
/*End Nomor Halaman*/

/*Footer*/
footer {
  background: #926236;   
  height: fit-content;
}

footer hr {
  color: #000000;
  background-color: #000000;
  margin: 0;
  height: 1px;
}

.footer-logo h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Awal';
  padding-top: 20px;
}

.footer-logo h1 a {
  text-decoration: none;
  color: #000;
}

.footer-logo p {
  text-align: center;
  color: #000000;
  font-size: 20px;
  font-family: 'Tahoma', Verdana, sans-serif;
  text-transform: capitalize;
  padding: 20px 0;
}

.footer-media p {
  color: #000000;
  text-transform: capitalize;
  font-size: 20px;
  font-family: 'Tahoma', Verdana, sans-serif;
  text-transform: capitalize;
  padding-top: 20px;
  text-align: center;
}

.footer-img {
  height: auto;
  width: fit-content;
  margin: auto;
  padding-top: 20px;
}

.footer-img img:hover {
  background-color: #f9fbfc;
  border-radius: 55%;
}

.footer-img img {
  width: 50px;
}

.contact-us {
  height: auto;
  width: fit-content;
  margin: auto;
  padding-top: 20px;
}

.contact-logo {
  padding-top: 1em;
}

.contact-us img:hover {
  background-color: #f9fbfc;
  border-radius: 55%;
}

.contact-us img {
  width: 50px;
}
/*End Footer*/

/* Media Query */
@media only screen and (max-width: 600px)
{
  /* gambar main */
  #gambar {
    width: auto;
    height: 50vh;
    background-image: url(img/books.jpg);
    background-size: cover;
  }
  .gambarTeks {
    height: 50vh;
    
  }
  /* End Gambar Main */

  /* Opening Kategoti */
  .batas1 h1 {
    font-size: 3em;
  }
  /* End Opening Kategoti */
  
}
/* End Media Query */